@model IEnumerable<EDCC.Models.Lesson>

@{
    ViewData["Title"] = "Лекции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Лекции</h1>


<a asp-action="Create">Создать</a>
@if (TempData["ErrorMessage"] as string != "")
{
    <h5 class="text-red">@TempData["ErrorMessage"]</h5>
}
<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Номер пары
        </th>
        <th>
            Дата проведения
        </th>
        <th>
            Группа
        </th>
        <th>
            Преподаватель
        </th>
        <th>
            Предмет
        </th>
        <th>
            Файл
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSlot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.File.Name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
        </td>
    </tr>
}
    </tbody>
</table>
